main {
	background-color: #1E1F29;
}

h1 {
	color: #FAFAFA;
	font-weight: 400;
	font-size: 36px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 43.2 px;
	
}

input, textarea, select {
	background: #2E203D;
	color: #FAFAFA;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19.2px;

}

label {
	color: #AFB2BF;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 14.4 px;
}

button {
	background-color: #6C38CC;
	color: #FAFAFA;
	font-weight: 400;
	font-size: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 21.6 px;
}

input:invalid {
	background-color: red;
}

input:valid {
	background-color: green;
}

