/* button */

.button {
	border-radius: var(--border-47);
	font-size: 17px;
	font-weight: 800;
	line-height: 140%;
}

.button_big {
	padding: 12px 63px;
}

.button_small {
	padding: 12px 32px;
}

.button_blue {
	color: var(--color-primary-white);
	background-color: var(--color-primary-blue);
}

.button_white {
	background-color: var(--color-primary-white);
	color: var(--color-primary-blue);
}

.button_blue:hover {
	background-color: var(--color-button-hover);
}

.button_white:hover {
	background-color: var(--color-button-active-hover);
}

@media (max-width: 1280px) {
	.button_big {
		padding: 12px 50px;
	}

	.button_small {
		padding: 12px 23px;
	}


}

/* hero */

.hero__headline{
	color: var(--color-primary-white);
	font-size: 40px;
	font-weight: 800;
	line-height: 120%;
	margin-bottom: 40px;
}

.hero__button {
	margin-bottom: 80px;
}

.hero__left {
	margin-right: -40px;
}

.hero__right img {
	margin-right: -102px;
	max-width: 1039px;
}

.hero__logos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 22px;
}


@media (max-width: 1630px) {
	.hero__right img {
		margin-right: 0;
		max-width: 900px;
	}

	.hero__headline {
		font-size: 32px;
		margin-bottom: 32px;
		}

	.hero__button {
		margin-bottom: 56px;

	}

}

@media (max-width: 1280px) {
	.hero__left {
		margin-right: 0;
		max-width: 480px;
		padding-bottom: 150px;
		}
	.hero__right img {
		max-width: 700px;
		}
}

@media (max-width: 1160px) {
	.hero__right {
			display: none;
		}
	
		.hero__left {
			padding-bottom: 200px;
		}

}











/* capability */

.capability__item {
	display: flex;
	gap: 16px;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	color: var(--color-header);
}



/* headline-group */

.headline-group__h2 {
	color: var(--color-header);
	font-size: 48px;
	font-weight: 600;
	line-height: 120%;
	margin: 80px 24px 24px;
}

.headline-group__paragraph {
	text-align: center;
	margin: 0 24px 24px;
}

.headline-group__h2 {
	color: var(--color-primary-white);
	font-size: 48px;
	font-weight: 600;
	line-height: 120%;
	margin: 80px 24px 24px;
}


/* description */

.description_straight {
	padding-left: 118px;
	margin: 0 auto var(--margin-bottom);
	padding-bottom: 40px;
	border-bottom: var(--border-line);
}

.description_reverse {
	flex-direction: row-reverse;
	margin: 0 auto 45px;
	padding-bottom: var(--margin-bottom);
	border-bottom: var(--border-line);
}

.description_reverse-last {
	flex-direction: row-reverse;
	gap: 247px;
	margin: 0 auto 120px;
}

.description__h2 {
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	margin: 0 0 24px 0;
}

.description__img {
	position: relative;
}

.description__popup {
	position: absolute;
	margin-top: 105px;
	margin-left: 193px;
}

@media (max-width: 1280px) {
	.description_straight img {
			max-width: 600px;
			height: auto;
		}
}

@media (max-width: 1160px) {
	.description_straight {
		padding-left: 24px;
	}
	.description_reverse, .description_reverse-last {
		flex-direction: column-reverse;
	}

	.description_reverse img {
		max-width: 600px;
		height: auto;
	}
	
	.description_reverse-last {
		gap: 32px;
		margin: 0 auto var(--margin-bottom-mobile);
	}

		.description__h2 {
			font-size: 32px;
		}
}

@media (max-width: 825px) {

	.description_straight {
		margin: 0 auto var(--margin-bottom-mobile);
		padding-bottom: var(--margin-bottom-mobile);
	}

	.description_reverse{
		margin: 0 auto var(--margin-bottom-mobile);
		padding-bottom: var(--margin-bottom-mobile);
	}

	.description_straight img,
		.description_reverse img{
		max-width: 356px;
	}
	

	.description__img img {
		max-width: 234px;
		height: auto;
	}

	.description__popup {
		margin-top: 45px;
		margin-left: 85px;
	}

	.description__popup img {
		max-width: 229px;
		height: auto;
	}

}

/* economy */

.economy__button {
	margin-bottom: 64px;
}

.economy__synh {
	position: relative;
	width: fit-content;
	margin: 0 auto 64px;
}

.economy__main-img {
	position: relative;
	z-index: 0;
	box-shadow: 0px 0px 32px 0px rgba(78, 93, 124, 0.32);
	display: block;
}

.economy__secondary-img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	display: block;

}

.economy__slider {
	position: absolute;
	top: 270px;
	left: 550px;
	z-index: 2;
	display: block;
}

.economy__slider-mobile {
	display: none;
	position: absolute;
	z-index: 2;
}

.economy__compare {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	padding: 0 118px;
}

.economy__compare_excel, .economy__compare_finio {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.economy__compare_item {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
}

.economy__h3 {
	color: var(--color-primary-white);
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}

@media (max-width: 1280px) {
	.economy__main-img {
		max-width: 700px;
	}
	
	.economy__secondary-img {
		max-width: 362px;
	}

	.economy__slider {
		top: 150px;
		left: 310px;
	}
}

@media (max-width: 960px) {
	.economy__button {
		margin-bottom: 48px;
	}

	.economy__main-img {
		max-width: 328px;
	}

	.economy__secondary-img {
		max-width: 169px;
	}

	.economy__slider {
		display: none;
	}

	.economy__slider-mobile {
		display: block;
		top: 0px;
		left: 118px;
	}

	.economy__compare {
		display: grid;
		grid-template-columns: 1fr;
		gap: 48px;
		padding: 0 24px;
	}
}

/* benefit */

.benefit__icon {
	margin-bottom: 24px;
}

.benefit__h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 120%;
	color: var(--color-header);
	margin-bottom: 20px;
}

@media (max-width: 825px) {
	.benefit__icon{
		max-width: 64px;
	}

	.benefit__h2 {
		font-size: 24px;
	}


}

/* mobile */

.mobile {
	padding: 0 24px;
}

.mobile__img {
	background-image: url('../imgs/mobile.png');
	margin: 0 auto 120px; 
	width: 1135px;
	height: 749px;
}

@media (max-width: 1160px) {
	.mobile__img {
		background-image: url('../imgs/mobile-519.png');
		width: 519px;
		height: 342px;
	}
}

@media (max-width: 560px) {
	.mobile__img {		
		width: 100%;
		height: 342px;
		margin-right: -24px;
	}
}

/* support */



.support__img {
	height: 100%;
	align-self: flex-end;
	margin-left: 71px;
}

.support__text {
	margin: 80px 0 84px;
	max-width: 444px;
}
.support__h2 {
	color: var(--color-primary-white);
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 24px;
}

.support__social {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 40px 0;
}

.support__social_item {
	display: flex;
	gap: 16px;
	align-items: center;
}

.support__social_item a {
	color: var(--color-primary-white);
}

@media (max-width: 1280px) {
	.support__img {
			margin-left: 0;
		}
	.support__h2 {
		font-size: 36px;
		}
}

@media (max-width: 1160px) {
	.support__img {
		align-self: center;
		max-width: 327px;
		}
	.support__text {
		margin: 64px 0 0 0;
		}
}

/* tarifs */

.tarifs {
	display: grid;
	grid-template-columns: repeat(3, 369px);
	gap: 24px;
	justify-content: center;
	padding: 0 24px;
	margin: 0 0 var(--margin-bottom);
}

.tarifs__tarif {
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.16);
	border-radius: var(--border-8);
	display: grid;
	grid-template-rows: repeat(2, 1fr) auto;
	gap: 32px;
	padding: 48px 40px;
}


.tarifs__profit {
	color: var(--color-primary-white);
	background-color: var(--color-bg-cta);
	padding: 4px 16px;
	font-size: 15px;
	font-weight: 800;
	line-height: 140%;
	border-radius: var(--border-8);

}

.tarifs__profit-wrapper {
	margin-bottom: 20px;
}

.tarifs__header-first {
	margin-top: 45px;
}

@media (max-width: 1280px) {
	.tarifs {
		grid-template-columns: repeat(3, 328px);
	}

	.tarifs__tarif {
		padding: 48px 24px;
	}
}

@media (max-width: 1040px) {
	.tarifs {
		grid-template-columns: repeat(auto-fit, 328px);
	}

}

@media (max-width: 825px) {
	.tarifs__header-first {
		margin-top: 0;
	}
}


/* prices */

.prices {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	align-items: start;
}

.prices__item {
	color: var(--color-text);
	font-size: 17px;
	font-weight: 500;
	line-height: 120%;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-line);
}

.prices__extra {
	color: var(--color-primary-white);
	background-color: var(--color-bg-price);
	padding: 8px 16px;
	border-radius: var(--border-8);
}

.prices__item_price {
	padding-left: 16px;
}

/* tarif-active */

.tarif-active {
	background-color: var(--color-primary-blue);
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.32);
}

.tarif-active__h3 {
	color: var(--color-primary-white);
}

.tarif-active__p {
	color: var(--color-text-tarif-active);
}

.tarif-active__price {
	color: var(--color-primary-white);
	border-bottom: 1px solid var(--color-line-active);
}

.tarif-active__button:hover {
	background-color: var(--color-button-active-hover)
}

/* review */
.review__arrow-left {
	position: absolute;
}
.review__arrow-left_hover {
	transform: rotate(180deg);
	position: absolute;
	display: none;
}

.review__arrow-right {
	transform: rotate(180deg);
	position: absolute;
}

.review__arrow-right_hover {
	position: absolute;
	display: none;
}

.review__text {
	margin-top: 120px;
	flex-basis: 450px;
}

.review__text p {
	color: var(--color-primary-white);
}

.review__comment {
	font-size: 28px;
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 40px;
}

.review__author {
	font-weight: 700;
	line-height: 140%;
}

.review__img {
	width: 580px;
	height: 438px;
	background-image: url(../imgs/review.png);
	display: block;
	background-position-y: 40%;
}


