/* hero */

.hero__headline{
	color: var(--color-primary-white);
	font-size: 40px;
	font-weight: 800;
	line-height: 120%;
}

.hero__button {
	font-size: 17px;
	font-weight: 800;
	line-height: 140%;
	padding: 12px 32px;
}

.hero__left {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.hero__right img {
	margin-right: -102px;
	max-width: 1039px;
}

.hero__logos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 22px;
	margin-top: 40px;
}



/* tarifs */

.tarifs {
	display: grid;
	grid-template-columns: repeat(3, 369px);
	gap: 24px;
	justify-content: center;
	margin: 0 24px;
}

.tarifs__tarif {
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.16);
	border-radius: var(--border-8);
	display: grid;
	grid-template-rows: repeat(2, 1fr) auto;
	gap: 32px;
	padding: 48px 40px;
}


.tarifs__profit {
	color: var(--color-primary-white);
	background-color: var(--color-bg-cta);
	padding: 4px 16px;
	font-size: 15px;
	font-weight: 800;
	line-height: 140%;
	border-radius: var(--border-8);

}

.tarifs__profit-wrapper {
	margin-bottom: 20px;
}

.tarifs__header-first {
	margin-top: 45px;
}

@media (max-width: 1280px) {
	.tarifs {
		grid-template-columns: repeat(3, 328px);
	}

	.tarifs__tarif {
		padding: 48px 24px;
	}
}

@media (max-width: 1040px) {
	.tarifs {
		grid-template-columns: repeat(auto-fit, 369px);
	}

}

@media (max-width: 825px) {
	.tarifs__header-first {
		margin-top: 0;
	}
}

/* prices */

.prices {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	align-items: start;
}

.prices__item {
	color: var(--color-text);
	font-size: 17px;
	font-weight: 500;
	line-height: 120%;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-line);
}

.prices__extra {
	color: var(--color-primary-white);
	background-color: var(--color-bg-price);
	padding: 8px 16px;
	border-radius: var(--border-8);
}

.prices__item_price {
	padding-left: 16px;
}



/* button */

.button {	
	border-radius: var(--border-47);
	font-size: 17px;
	font-weight: 800;
	line-height: 140%;
}

.button_big {
	padding: 12px 63px;
}

.button_small {
	padding: 12px 32px;
}

.button_blue {
	color: var(--color-primary-white);
	background-color: var(--color-primary-blue);
}

.button_white {
	background-color: var(--color-primary-white);
	color: var(--color-primary-blue);
}

.button_blue:hover {
	background-color: var(--color-button-hover);
}

.button_white:hover {
	background-color: var(--color-button-active-hover);
}

@media (max-width: 1280px) {
	.button {
		padding: 12px 50px;
	}

}

/* tarif-active */

.tarif-active {
	background-color: var(--color-primary-blue);
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.32);
}

.tarif-active__h3 {
	color: var(--color-primary-white);
}

.tarif-active__p {
	color: var(--color-text-ghost-active);
}

.tarif-active__price {
	color: var(--color-primary-white);
	border-bottom: 1px solid var(--color-line-active);
}

.tarif-active__button:hover {
	background-color: var(--color-button-active-hover)
}


/* wrappers */

.button-wrapper {
	align-self: self-end;
}

.tarif-wrapper {
	align-self: self-start;

}

.hero-wrapper {
	display: flex;
	margin: 0 auto var(--margin-bottom);
	padding: 58px 24px 0;
	max-width: var(--layout-width);
	gap: -17px;
	/* transform: skewY(7deg); */
}

.benefit-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 64px;
	margin: 0 auto 63px;
	justify-content: center;
	padding-bottom: var(--margin-bottom);
	border-bottom: var(--border-line);
	max-width: var(--layout-width);
}

.description-wrapper {
	display: flex;
	gap: 65px;
	justify-content: flex-end;
	align-items: center;
	max-width: var(--layout-width);	
	
}


/* benefit */

.benefit__item {
	display: flex;
	gap: 16px;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	color: var(--color-header);
}

/* headline-group */

.headline-group__h2 {
	color: var(--color-header);
	font-size: 48px;
	font-weight: 600;
	line-height: 120%;
	margin: 80px 24px 24px;
}

.headline-group__paragraph {
	text-align: center;
	margin: 0 24px 24px;
}

/* description */

.description_straight {
	padding-left: 118px;
	margin: 0 auto 80px;
	padding-bottom: 40px;
	border-bottom: var(--border-line);
}

.description_reverse {
	flex-direction: row-reverse;
	margin: 0 auto 45px;
	padding-bottom: 80px;
	border-bottom: var(--border-line);
}

.description_reverse-last {
	flex-direction: row-reverse;
	gap: 247px;
	margin: 0 auto 125px;
}

.description__text {
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
}

.description__h2 {
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	margin: 0 0 24px 0;
}

.description__img {
	position: relative;
}

.description__popup {
	position: absolute;
	margin-top: 105px;
	margin-left: 193px;
}