/* hero */

.hero__headline{
	color: var(--color-primary-white);
	font-size: 40px;
	font-weight: 800;
	line-height: 120%;
	margin-bottom: 40px;
}

.hero__button {
	margin-bottom: 80px;
}

.hero__left {
	margin-right: -30px;
}

.hero__right img {
	margin-right: -102px;
	max-width: 1039px;
}

.hero__logos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 22px;
}


@media (max-width: 1630px) {
	.hero__right img {
		margin-right: 0;
		max-width: 900px;
	}

	.hero__headline {
		font-size: 32px;
		margin-bottom: 32px;
		}

	.hero__button {
		margin-bottom: 56px;

	}

}

@media (max-width: 1280px) {
	.hero__left {
		margin-right: 0;
		max-width: 480px;
		padding-bottom: 150px;
		}
	.hero__right img {
		max-width: 700px;
		}
}

@media (max-width: 1160px) {
	.hero__right {
			display: none;
		}
	
		.hero__left {
			padding-bottom: 200px;
		}

}

@media (max-width: 960px) {


	
}



/* tarifs */

.tarifs {
	display: grid;
	grid-template-columns: repeat(3, 369px);
	gap: 24px;
	justify-content: center;
	margin: 0 24px;
}

.tarifs__tarif {
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.16);
	border-radius: var(--border-8);
	display: grid;
	grid-template-rows: repeat(2, 1fr) auto;
	gap: 32px;
	padding: 48px 40px;
}


.tarifs__profit {
	color: var(--color-primary-white);
	background-color: var(--color-bg-cta);
	padding: 4px 16px;
	font-size: 15px;
	font-weight: 800;
	line-height: 140%;
	border-radius: var(--border-8);

}

.tarifs__profit-wrapper {
	margin-bottom: 20px;
}

.tarifs__header-first {
	margin-top: 45px;
}

@media (max-width: 1280px) {
	.tarifs {
		grid-template-columns: repeat(3, 328px);
	}

	.tarifs__tarif {
		padding: 48px 24px;
	}
}

@media (max-width: 1040px) {
	.tarifs {
		grid-template-columns: repeat(auto-fit, 369px);
	}

}

@media (max-width: 825px) {
	.tarifs__header-first {
		margin-top: 0;
	}
}

/* prices */

.prices {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	align-items: start;
}

.prices__item {
	color: var(--color-text);
	font-size: 17px;
	font-weight: 500;
	line-height: 120%;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-line);
}

.prices__extra {
	color: var(--color-primary-white);
	background-color: var(--color-bg-price);
	padding: 8px 16px;
	border-radius: var(--border-8);
}

.prices__item_price {
	padding-left: 16px;
}



/* button */

.button {	
	border-radius: var(--border-47);
	font-size: 17px;
	font-weight: 800;
	line-height: 140%;
}

.button_big {
	padding: 12px 63px;
}

.button_small {
	padding: 12px 32px;
}

.button_blue {
	color: var(--color-primary-white);
	background-color: var(--color-primary-blue);
}

.button_white {
	background-color: var(--color-primary-white);
	color: var(--color-primary-blue);
}

.button_blue:hover {
	background-color: var(--color-button-hover);
}

.button_white:hover {
	background-color: var(--color-button-active-hover);
}

@media (max-width: 1280px) {
	.button_big {
		padding: 12px 50px;
	}
	.button_small {
		padding: 12px 23px;
	}
	

}

/* tarif-active */

.tarif-active {
	background-color: var(--color-primary-blue);
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.32);
}

.tarif-active__h3 {
	color: var(--color-primary-white);
}

.tarif-active__p {
	color: var(--color-text-ghost-active);
}

.tarif-active__price {
	color: var(--color-primary-white);
	border-bottom: 1px solid var(--color-line-active);
}

.tarif-active__button:hover {
	background-color: var(--color-button-active-hover)
}


/* wrappers */

.button-wrapper {
	align-self: self-end;
}

.tarif-wrapper {
	align-self: self-start;

}

.hero-wrapper {
	display: flex;
	margin: 0 auto var(--margin-bottom);
	padding: 58px 24px 0;
	max-width: var(--layout-width);
	gap: -17px;
	z-index: 1;
	position: relative;
	/* transform: skewY(7deg); */
}

.benefit-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 64px;
	margin: -250px auto 63px;
	justify-content: center;
	padding-bottom: var(--margin-bottom);
	border-bottom: var(--border-line);
	max-width: var(--layout-width);
	z-index: 1;
	position: relative;
}

.description-wrapper {
	display: flex;
	gap: 65px;
	justify-content: flex-end;
	align-items: center;
	max-width: var(--layout-width);	
	z-index: 1;
	position: relative;
}

@media (max-width: 1160px) {
	.description-wrapper {
		align-items: flex-start;
		flex-direction: column-reverse;
		gap: 32px;
	}
}


@media (max-width: 960px) {

	.benefit-wrapper {
		grid-template-columns: repeat(2, 1fr);
		margin: -390px auto 63px;
	}

}

@media (max-width: 825px) {
	.benefit-wrapper {
			grid-template-columns: 1fr;
			gap: 32px;
			padding-bottom: var(--margin-bottom-mobile);
			margin-bottom: var(--margin-bottom-mobile);
		}
}


/* benefit */

.benefit__item {
	display: flex;
	gap: 16px;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	color: var(--color-header);
}



/* headline-group */

.headline-group__h2 {
	color: var(--color-header);
	font-size: 48px;
	font-weight: 600;
	line-height: 120%;
	margin: 80px 24px 24px;
}

.headline-group__paragraph {
	text-align: center;
	margin: 0 24px 24px;
}

/* description */

.description_straight {
	padding-left: 118px;
	margin: 0 auto var(--margin-bottom);
	padding-bottom: 40px;
	border-bottom: var(--border-line);
}

.description_reverse {
	flex-direction: row-reverse;
	margin: 0 auto 45px;
	padding-bottom: var(--margin-bottom);
	border-bottom: var(--border-line);
}

.description_reverse-last {
	flex-direction: row-reverse;
	gap: 247px;
	margin: 0 auto 125px;
}

.description__text {
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
}

.description__h2 {
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	margin: 0 0 24px 0;
}

.description__img {
	position: relative;
}

.description__popup {
	position: absolute;
	margin-top: 105px;
	margin-left: 193px;
}

@media (max-width: 1160px) {
	.description_straight {
		padding-left: 0;
	}
	.description_reverse, .description_reverse-last {
		flex-direction: column-reverse;
	}

	.description_straight img, .description_reverse img {
		max-width: 600px;
		height: auto;
	}
	
	.description_reverse-last {
		gap: 32px;
		margin: 0 auto var(--margin-bottom-mobile);
	}
}

@media (max-width: 825px) {

	.description_straight {
		margin: 0 auto var(--margin-bottom-mobile);
		padding-bottom: var(--margin-bottom-mobile);
	}

	.description_reverse{
		margin: 0 auto var(--margin-bottom-mobile);
		padding-bottom: var(--margin-bottom-mobile);
	}

	.description_straight img,
		.description_reverse img{
		max-width: 356px;
	}
	.description__h2 {
		font-size: 32px;
	}

	.description__img img {
		max-width: 234px;
		height: auto;
	}

	.description__popup {
		margin-top: 45px;
		margin-left: 85px;
	}

	.description__popup img {
		max-width: 229px;
		height: auto;
	}

}