/* tarifs */

.tarifs {
	display: grid;
	grid-template-columns: repeat(3, 369px);
	gap: 24px;
	justify-content: center;
	margin: 0 24px;
}

.tarifs__tarif {
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.16);
	border-radius: var(--border-8);
	display: grid;
	grid-template-rows: repeat(2, 1fr) auto;
	gap: 32px;
	padding: 48px 40px;
}


.tarifs__profit {
	color: var(--color-primary-white);
	background-color: var(--color-bg-cta);
	padding: 4px 16px;
	font-size: 15px;
	font-weight: 800;
	line-height: 140%;
	border-radius: var(--border-8);

}

.tarifs__profit-wrapper {
	margin-bottom: 20px;
}

.tarifs__header-first {
	margin-top: 45px;
}

@media (max-width: 1280px) {
	.tarifs {
		grid-template-columns: repeat(3, 328px);
	}

	.tarifs__tarif {
		padding: 48px 24px;
	}
}

@media (max-width: 1040px) {
	.tarifs {
		grid-template-columns: repeat(auto-fit, 369px);
	}

}

@media (max-width: 825px) {
	.tarifs__header-first {
		margin-top: 0;
	}
}

/* prices */

.prices {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	align-items: start;
}

.prices__item {
	color: var(--color-text);
	font-size: 17px;
	font-weight: 500;
	line-height: 120%;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-line);
}

.prices__extra {
	color: var(--color-primary-white);
	background-color: var(--color-bg-price);
	padding: 8px 16px;
	border-radius: var(--border-8);
}

.prices__item_price {
	padding-left: 16px;
}



/* button */

.button {	
	padding: 12px 63px;
	border-radius: var(--border-47);
	font-size: 17px;
	font-weight: 800;
	line-height: 140%
}

.button_blue {
	color: var(--color-primary-white);
	background-color: var(--color-primary-blue);
}

.button_white {
	background-color: var(--color-primary-white);
	color: var(--color-primary-blue);
}

.button_blue:hover {
	background-color: var(--color-button-hover);
}

.button_white:hover {
	background-color: var(--color-button-active-hover);
}

@media (max-width: 1280px) {
	.button {
		padding: 12px 50px;
	}

}

/* tarif-active */

.tarif-active {
	background-color: var(--color-primary-blue);
	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.32);
}

.tarif-active__h2 {
	color: var(--color-primary-white);
}

.tarif-active__p {
	color: var(--color-text-ghost-active);
}

.tarif-active__price {
	color: var(--color-primary-white);
	border-bottom: 1px solid var(--color-line-active);
}

.tarif-active__button:hover {
	background-color: var(--color-button-active-hover)
}


/* wrapper */

.button-wrapper {
	align-self: self-end;
}

.tarif-wrapper {
	align-self: self-start;
}