:root {
	--color-header: #000000;
	--color-text: #4E5D7C;
	--color-text-ghost: rgba(78, 93, 124, 0.5);
	--color-text-ghost-white: rgba(255, 255, 255, 0.8);
	--color-text-tarif-active: rgba(255, 255, 255, 0.6);	
	--color-primary-blue: #357EFE;
	--color-button-hover: #4f79c2;
	--color-primary-white: #FFFFFF;
	--color-button-active-hover: #e0e0e0;
	--color-bg-cta: #1ABC9C;
	--color-bg-price: #FFC736;
	--color-line: rgba(78, 93, 124, 0.08);
	--color-line-active: rgba(255, 255, 255, 0.16);

	--gradient: linear-gradient(173deg, #357EFE 50% 65%, #FFFFFF 50%);

	--border-47: 47px;
	--border-8: 8px;
	--border-line: 1px solid var(--color-line);

	--layout-width: 1392px;
	--margin-bottom: 80px;
	--margin-bottom-mobile: 48px;
}

* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Inter', sans-serif;

}

a {
	text-decoration: none;
	cursor: pointer;
}

p {
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
}

/* margin: 80px 24px 24px; */

h3 {
	color: var(--color-header);
	font-size: 32px;
	font-weight: 800;
	line-height: 120%;
	margin: 0 0 16px 0;

}