.header {
	background-color: var(--color-primary-blue);
}

.header-wrapper {
	padding: 40px 24px;
	margin: 0 auto;
	max-width: var(--layout-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__mobile-menu-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}

@media (max-width: 960px) {
	.header__menu, .header__lk {
		display: none;
	}

	.header__mobile-menu-button {
		display: block;
	}
}

/* Menu */

.menu {
	list-style: none;
	display: flex;
	gap: 32px;
	margin: 0;
}

.menu__item a {
	color: var(--color-primary-white);
}

.menu__item {
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
}