

.section_white {
	background-color: var(--color-primary-white);
}

.section_gradient {
	/* background: var(--gradient); */
	transform: skewY(-3deg);
	height: 200px;
	margin-top: -300px;
}

.section_blue {
	background-color: var(--color-primary-blue);
}



.paragraph_small {
	font-size: 17px;
}

.paragraph_big {
	font-size: 18px;
}

.p-ghost {
	color: var(--color-text-ghost);	
	font-weight: 500;
	line-height: 140%;
}




