:root {
	--color-primary: #6C38CC;
	--color-primary-hover: #51328b;
	--color-bg: #16171D;
	--color-bg-medium: #1E1F29;
	--color-bg-light: #2E2D3D;
	--color-bg-dark: #101114;
	--color-text: #fafafa;
	--color-link-hover: #AFB2BF;
	--color-stroke: rgba(77, 80, 100, 1);
	--gradient: linear-gradient(93deg, #D77BE5 9.26%, #BE63E5 42.32%, #6C38CC 104.58%);
	--color-pink: #E47AD5;

	--border-8: 8px;
	--border-10: 10px;
	--layout-width: 1172px;

}

* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	background-color: var(--color-bg);
	font-family: 'Fira Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 30px;

}


a {
	text-decoration: none;
	cursor: pointer;
}

.item {
	color: var(--color-text);
	font-size: 24px;
	font-weight: 700;
	border: 2px solid var(--color-primary);
	text-align: center;
	padding: 15px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
	"header header header header"
	"sidebar content content content"
	"footer footer footer footer";
	/* grid-auto-flow: dense; */
	/* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-template-rows: repeat(10, 100px); */
	/* grid-template-columns: [s-left] 200px 200px [sidebar] 1fr 1fr [s-right];
	grid-template-rows: [s-start] repeat(3, 200px) [s-end]; */
	/* gap: 15px; */
	/* justify-items: end;
	align-items: end; */
}

/* .item_11 {
	grid-column: 1 / 3 ;
	grid-row: span 2 / 3;
} */

/* .item_9 {
	grid-column: s-left / sidebar;
	grid-row: s-start / s-end;
} */

/* .item_1 {
	order: 1;
} */

/* .item_3 {
	grid-column: 1 / -1;

}

.item_4 {
	grid-column: span 2;
}

.item_5 {
	grid-column: span 2;
} */

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
}

@media (max-width:500px) {
	.wrapper {
			grid-template-areas:
					"header header header header"
					"content content sidebar sidebar"
					"footer footer footer footer";
	}
}