/* Section */

.section__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 100px 24px;
}
.section_light {
	background-color: var(--color-bg-medium);
}

.section_dark {
	background-color: var(--color-bg);
}




.section__social {
	margin-bottom: 48px;
}

/* Button */

.button {
	padding: 16px 32px;
	border-radius: var(--border-10);
	border: none;
	color: var(--color-text);
	background: none;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}

.button_primary {
	background: var(--color-primary);
	
}

.button_primary:hover {
	background-color: var(--color-primary-hover);
}

.button_ghost {
	background: none;
	border: 1px solid var(--color-stroke);

}

.button_ghost:hover {
	background-color: var(--color-bg);
}

@media (max-width: 640px) {
	.button {
		padding: 12px 24px;
	}

}

/* Social */

.social-icons {
	display: flex;
	gap: 24px;
	/* justify-content: center;*/
	align-items: center;
}

.social-icons__icon {
	border: 1px solid var(--color-stroke);
	padding: 11px;
	background-color: none;
	border-radius: var(--border-8);
	text-decoration: none;
	width: 48px;
	height: 48px;
}

.social-icons__icon:hover {
	background-color: var(--color-bg-medium);

}

/* Blog */

.blog {
	display: flex;
	gap: 246px;	
	padding: 35px 45px 15px 32px;
}

.blog__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.blog__stats {
	display: flex;
	gap: 32px;
}

.blog__stat {
	display: flex;
	gap: 6px;
	align-items: center;
	color: var(--color-link-hover);
}



.blog__header {
	color: var(--color-text);
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}

.blog__entry {
	color: var(--color-text);
	font-size: 16px;
	line-height: 150%;
}

/* Headling */

.headling {
	margin-bottom: 32px;
}

.headling__top {
	color: var(--color-pink);
	font-size: 18px;
	line-height: 120%;
	margin-bottom: 8px;
}

.headling__bottom {
	color: var(--color-text);
	font-size: 46px;
	line-height: 120%;
}

/* Paragraph */
.paragraph {
	color: var(--color-text);
	font-size: 18px;
	line-height: 150%;
	margin: 0;
	max-width: 787px;
}

.paragraph_32 {
	margin-bottom: 32px;
}

/* Card */

.card {
	border-radius: var(--border-10);
	background-color: var(--color-bg-medium);
}

/* post__wrapper */

.post__wrapper {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}