:root {
	--color-primary: #6C38CC;
	--color-primary-hover: #51328b;
	--color-bg: #16171D;
	--color-bg-medium: #1E1F29;
	--color-bg-light: #2E2D3D;
	--color-bg-dark: #101114;
	--color-text: #fafafa;
	--color-link-hover: #AFB2BF;
	--color-stroke: rgba(77, 80, 100, 1);
	--gradient: linear-gradient(93deg, #D77BE5 9.26%, #BE63E5 42.32%, #6C38CC 104.58%);
	--color-pink: #E47AD5;

	--border-8: 8px;
	--border-10: 10px;
	--layout-width: 1172px;

}

* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	background-color: var(--color-bg);
	font-family: 'Fira Sans', sans-serif;
		font-family: 'Open Sans', sans-serif;
		font-family: 'Roboto', sans-serif;
		font-family: 'Source Sans 3', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;

}


a {
	text-decoration: none;
	cursor: pointer;
}

h1, h2, h3, h4, p, ul {
	margin: 0;
}