:root {
	--color-primary: #6C38CC;
	--color-bg: #16171D;
	--color-bg-medium: #1E1F29;
	--color-bg-light: #2E2D3D;
	--color-text: #fafafa;
	--color-link-hover: #AFB2BF;
	--color-stroke: rgba(77, 80, 100, 1);
	--border-8: 8px;
}

html {
	
}

body {
	background-color: var(--color-bg);
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 400;
	margin: 0;
}


a {
	text-decoration: none;
	cursor: pointer;
}