/* Header */

.header {
	background-color: var(--color-bg-medium);

}

.header__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 24px;
}

.header__login {
	display: flex;
	gap: 8px;	
	align-items: center;
	font-size: 18px;
	line-height: 120%;
	color: var(--color-text);
}

.header__login:hover {
	color: var(--color-link-hover);
}

.header__mobile-menu-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}
@media (max-width: 960px) {
	.header__login {
		display: none;
	}
	.header__mobile-menu-button {
		display: block;
	}
	.header__logo {
		max-width: 174px;
	}
}


/* Menu */

.menu {
	list-style: none;
	display: flex;
	gap: 40px;
}

.menu__item {
	padding: 8px 16px;
}

.menu__item a {
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--color-text);
	
}

.menu__item a:hover {
	color: var(--color-link-hover);
}

.menu__item_active {
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-8);
}

@media (max-width: 960px) {
	.menu {
		display: none;
	}
}