.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 40px 24px;
}

.hero__left {
	display: flex;
	flex-direction: column;
	gap: 32px;
	flex-wrap: wrap;
}

.hero__buttons {
	display: flex;
	gap: 32px;
}

.hero__h1 {
	font-size: 54px;
	font-weight: 700;
	color: var(--color-text);
	margin: 0;
}

.hero__h1_gradient {
	background: var(--gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}

@media (max-width: 1200px) {
	.hero {
		flex-direction: column;
	}
	.hero__buttons {
		justify-content: center;

	}
	.hero__h1 {
		text-align: center;
	}
}

@media (max-width: 640px) {
	.hero__h1 {
		font-size: 30px;
		line-height: 120%;
	}
	.hero__right {
		width: 100%;
	}

	.hero {
		padding: 0px 24px;
	}
}

@media (max-width: 480px) {

	.hero__buttons {
		gap: 16px;
	}
}


