* {
	box-sizing: border-box;
}

#herobutton {
	background-color: #4262FF;
	color: white;
	height: 51px;
	border: 1px solid #4262FF;
	border-radius: 32px;
	font-size: 18px;
	line-height: 27px;
	padding: 10px 20px;
	transition: background-color 1s, border-radius 2s;
}

#herobutton:hover {
	background-color: #12299c;
	
}

.link {
	color: #4262FF;
	text-decoration: underline;
}

.link:hover {
	color: #2c4adf;
}

.link:active {
	color: #0a1c75;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 3em;
	line-height: 56px;
	letter-spacing: 1px;
	color: #050038;
	height: 168px;
	margin: 0 0 17px 0;
	text-align: center;
}

h2 {
	/* font-size: 48px; */
	font-size: 4vmax;
	line-height: 56px;
	letter-spacing: 1px;
	color: #050038;
	height: 168px;
	margin: 0 0 17px 0;
}

p {
	font-size: 18px;
	line-height: 24px;
	}

.herotext {
	color: #050038;
	height: 48px;
	margin: 0 0 55px 0;
	font-size: 2em
}

.sectiontext {
	color: rgba(5, 0, 56, 0.6);
	height: 120px;
	margin: 0 0 40px 0;
}

header {
	background-color: #FFF;
}
footer {
	background-color: #050038;
	padding: 47px 40px;
}

header a{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #050038;
	text-decoration: none;
}

.heroform + p {
	font-size: 14px;
	line-height: 20px;
	color: rgba(5, 0, 56, 1);
	margin: 8px 0 52px 0;
}

/* .heroform input:focus {
	background-color: aqua;
} */

.heroform input {
	height: 28px;
	border: 1px solid #9B99AF;
	border-radius: 32px;
	padding: 10px;
	margin-bottom: 10px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	
}

nav {
	padding: 33px 50px;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 60px;
}
.sectionlist {
	list-style-type: none;
}

.sectionlist li::marker {
	content: url(../imgs/Frame.svg);
}


/* .experiment {
	background: #050038;
	width: 400px;
	height: 400px;
	color: white;
	padding: 10px 20px 50px;
	margin: 10px auto;
} */

footer a {
	color: white;
	text-decoration: none;
}

.border1 {
	border: 5px solid #050038;
	border-left: 10px solid coral;
	box-sizing: border-box;
	border-radius: 50%;
}

#headerimg {
	width: 604px;
	height: 461px;
}

.exp div {
	width: clamp(200px, 80%, 600px);
	height: 200px;
	background-color: #050038;
	margin: 10px;
	color: white;
	font-size: 24px;
	/* animation: my-move 2s ease forwards;
	animation-iteration-count: 5;
	animation-direction: reverse;
	animation-delay: 1s; */
}

/* .exp div:hover {
	animation-play-state: paused;
} */


/* @keyframes my-move {
	25% {	
		transform: translateX(100%);
	}
	50% {
		transform: translateX(100%) translateY(-100%);
		}
	75% {
		transform: translateX(0%) translateY(-100%);
	}
	100% {
		transform: translateX(0%) translateY(0%);
	}
} */

/* .exp div:nth-child(1) {
	transform: rotate(45deg);
}

.exp div:nth-child(2) {
	transform: translate(-300px);
}

.exp div:nth-child(3) {
	
}

.exp div:nth-child(4) {
	
} */

/* .cl1 {
	background: red;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	width: 100px;
	height: 100px;
}

.cl2 {
	background: blue;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	width: 100px;
	height: 100px;
}

.cl3 {
	background: green;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	width: 100px;
	height: 100px;
} */

/* .static .cl2 {
	position: static;
}

.relative .cl2 {
	position: relative;
	top: 50px;
	left: -50px;
}

.absolute {
	position: relative;
}

.absolute .cl2 {
	position: absolute;
	top: 50px;
	left: 50px;
}

/* .fixed .cl2 {
	position: fixed;
	top: 50px;
	left: 50px;
} */

/* .sticky .cl2 {
	position: sticky;
	top: 50px;
	left: 50px;
	
}

.sticky {
	height: 600px;
} */ 

/* #hero {
	font-size: 16px;
}

#herobutton {
	font-size: 1em;
	height: 3em;
} */

/* @media (min-width: 500px) {
	h1 {
		color: red;
	}
} */