#herobutton {
	background-color: #4262FF;
	color: white;

}

#herobutton:hover {
	background-color: #12299c;
}

.link {
	color: #4262FF;
	text-decoration: underline;
}

.link:hover {
	color: #2c4adf;
}

.link:active {
	color: #0a1c75;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 400;
	color: blueviolet;
}

h1 {
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 1px;
	color: #050038;
}

h2 {
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 1px;
	color: #050038;
}

p {
	font-size: 18px;
	line-height: 24px;
	}

.herotext {
	color: #050038;
}

.sectiontext {
	color: rgba(5, 0, 56, 0.6);
}

header {
	background-color: #FFF;
}
footer {
	background-color: #050038;
}

header a{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #050038;
	text-decoration: none;
}

.heroform + p {
	font-size: 14px;
	line-height: 20px;
	color: #050038;
}

.heroform input:focus {
	background-color: aqua;
}

nav ul {
	list-style: none;
}

.sectionlist {
	list-style-type: none;
}

.sectionlist li::marker {
	content: url(../imgs/Frame.svg);
}

.experiment {
	background: red;
}

.experiment {
	background: blue;
}

div {
	background: bisque;
}

#exp {
	background: pink;
}